Importamos las librerias necesarias

In [18]:
import pandas as pd
import streamlit as st
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

Importamos los datos del DataSet a un DataFrame

In [19]:
car_data = pd.read_csv(r"C:\Users\Pc\OneDrive\Documentos\TripleTen\Sprint_7\proyecto_s7\datasets\vehicles_us.csv")
car_data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

Creamos visualizaciones para el anÃ¡lisis exploratorio de datos

In [20]:
fig = px.histogram(car_data, x="odometer")
fig.show()
fig_1 = px.scatter(car_data, x="odometer", y="price")
fig_1.show()

NameError: name 'px' is not defined